[Unit]
Description=Netpardaz Cleint API Server
After=network.target

[Service]
Type=simple
User=client
WorkingDirectory=/home/client
ExecStart=/usr/bin/python3 -m uvicorn ips_client.asgi:application --host 0.0.0.0 --port 8000
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=clientapisrv
Restart=on-failure

[Install]
WantedBy=multi-user.target
