IPS_CLIENT_POSTGRES_DB=
IPS_CLIENT_POSTGRES_USER=
IPS_CLIENT_POSTGRES_PASSWORD=
IPS_CLIENT_POSTGRES_HOST=
IPS_CLIENT_POSTGRES_PORT=
IPS_CLIENT_SERVER_URL=
IPS_CLIENT_SNORT_RULES_PATH=
IPS_CLIENT_SNORT_CONF_PATH=
IPS_CLIENT_SNORT2_LUA_PATH=
IPS_CLIENT_SNORT2_SNORT_LUA_FILE=
IPS_CLIENT_SNORT_LUA_FILE=
IPS_CLIENT_SNORT_DEFAULT_LUA_FILE=
IPS_CLIENT_LOG_RABBIT_PATH=
IPS_CLIENT_LOG_SNORT_PATH=
IPS_CLIENT_RESTART_SNORT_COMMAND=
IPS_CLIENT_CREATE_LUA_FROM_CONF_COMMAND=
IPS_CLIENT_CP_LUA_FILE_TO_DESIRED_LOC_COMMAND=